html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.find input {
    width: 300px;
}

.find button {
    border: none;
}

    .find button:hover {
        background: linear-gradient(95deg, #f7d547, #ffffff);
        font-weight: bold;
        transition: 400ms;
    }

        .find button:hover img {
            width: 35px;
            height: 35px;
            transition: 400ms;
        }

.find input::placeholder {
    color: #b57c00;
}

nav ul li:hover {
    background: linear-gradient(45deg, #f7d547, #808080);
    transition: 0.5s;
}
