@{
    ViewData["Title"] = "Buscar Usuarios";
}

<head>
    <link href="~/css/UserList-styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-4">
        <table class="table table-striped">
            <thead>
                <tr class="titles">
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Ubicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="table">
                <!-- Suponiendo que los datos son generados dinámicamente -->
                <tr>
                    <td class="foto"><img width="55" height="55" src="https://elcomercio.pe/resizer/hFKtKd1z4AE95hbFL3qjLjYH66Q=/620x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/7SC7HSDCZZEMVFMZPI34DC5IGM.jpg" alt="image" /></td>
                    <td class="nombre"><span>Luis Salazar</span></td>
                    <td class="ubicacion"><span>San José Alajuelita</span></td>
                    <td class="accion"><button>Agregar a amigos</button></td>
                </tr>

                <!-- Fin de los datos dinámicos -->
            </tbody>
        </table>
    </div>
</body>