@using SocialMediaApp.Dominio.DTO
@using SocialMediaApp.Persistencia.Data

@model List<SocialMediaApp.Dominio.DTO.UsuarioDTO>

@{
    ViewData["Title"] = "Buscar Usuarios";
}

<head>
    <link href="~/css/UserList-styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-4">
        <h2>Resultados de la Búsqueda</h2>

        <p>Total de resultados: @Model.Count</p>

        @if (Model == null || Model.Count == 0)
        {
            <p>No se encontraron usuarios con ese nombre.</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr class="titles">
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td><img width="55" height="55" src="@usuario.FotoPerfil" alt="image" /></td>
                            <td>@usuario.NombreUsuario</td>
                            <td>@usuario.Ubicacion</td>
                            <td><button>Agregar a amigos</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>