@model SocialMediaApp.Persistencia.Data.Usuario

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>Iniciar sesión</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert @TempData["TipoMensaje"]" role="alert">
        @TempData["Mensaje"]
    </div>
}

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="NombreUsuario">Nombre de Usuario:</label>
        <input id="username" name="username" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Contraseña">Contraseña:</label>
        <input id="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        @ViewData.ModelState[""].Errors[0].ErrorMessage
    </div>
}

